.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #ffba08;
}

.swiper-pagination .swiper-pagination-bullet {
  background: #999999;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #ffba08;
}
